{
    "debug": true,
    "port": "/dev/rfcomm0",
    "page_adv_pin": 18,
    "color": "#53B9E8",
    "redline_color": "#FF3643",
    "font_size": 23,
    "note_font_size": 18,
    "pages": [
        [
            {
                "sensor": "RPM",
                "type": "Gauge",
                "title": "转速",
                "unit": "",
                "x": 2,
                "y": 2,
                "w": 170,
                "h": 170,
                "min": 0,
                "max": 8000,
                "redline": 6750,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "SPEED",
                "type": "Gauge",
                "title": "时速",
                "unit": "",
                "x": 230,
                "y": 2,
                "w": 240,
                "h": 240,
                "min": 0,
                "max": 180,
                "redline": 120,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "ENGINE_LOAD",
                "type": "Bar_Horizontal",
                "title": "负荷",
                "unit": "%",
                "x": 5,
                "y": 180,
                "w": 150,
                "h": 30,
                "min": 0,
                "max": 100,
                "redline": 80,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "INTAKE_TEMP",
                "type": "Text",
                "title": "进气",
                "unit": "°C",
                "x": 5,
                "y": 280,
                "w": 100,
                "h": 30,
                "min": 0,
                "max": 100,
                "redline": 80,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "COOLANT_TEMP",
                "type": "Text",
                "title": "水温",
                "unit": "°C",
                "x": 105,
                "y": 280,
                "w": 100,
                "h": 30,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "FUEL_LEVEL",
                "type": "Bar_Horizontal",
                "title": "油量",
                "unit": "%",
                "x": 5,
                "y": 215,
                "w": 150,
                "h": 30,
                "min": 0,
                "max": 100,
                "redline": 85,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "RUN_TIME",
                "type": "Text",
                "title": "运行时间",
                "unit": "",
                "x": 260,
                "y": 240,
                "w": 150,
                "h": 30,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "AMBIANT_AIR_TEMP",
                "type": "Text",
                "title": "气温",
                "unit": "°C",
                "x": 200,
                "y": 280,
                "w": 150,
                "h": 30,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "OIL_TEMP",
                "type": "Text",
                "title": "油温",
                "unit": "°C",
                "x": 300,
                "y": 280,
                "w": 150,
                "h": 30,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "STATUS",
                "type": "Text",
                "title": "故障",
                "unit": "",
                "x": 180,
                "y": 3,
                "w": 150,
                "h": 30,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            }
        ]
    ]
}
