{
    "debug": false,
    "port": "/dev/rfcomm0",
    "page_adv_pin": 18,
    "color": "#53B9E8",
    "redline_color": "#FF3643",
    "font_size": 36,
    "note_font_size": 24,
    "led_style": true,
    "pages": [
        [
            {
                "sensor": "RPM",
                "type": "Gauge",
                "title": "转速",
                "unit": "",
                "x": 0,
                "y": 2,
                "w": 350,
                "h": 350,
                "min": 0,
                "max": 8000,
                "redline": 6750,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "SPEED",
                "type": "Gauge",
                "title": "时速",
                "unit": "",
                "x": 340,
                "y": 20,
                "w": 465,
                "h": 460,
                "min": 0,
                "max": 180,
                "redline": 120,
                "numerals": true,
                "scale_step": 20,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "STATUS",
                "type": "Text",
                "title": "",
                "unit": "",
                "x": 330,
                "y": 3,
                "w": 200,
                "h": 40,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "ENGINE_LOAD",
                "type": "Bar_Horizontal",
                "title": "负荷",
                "unit": "%",
                "x": 5,
                "y": 330,
                "w": 300,
                "h": 30,
                "min": 0,
                "max": 100,
                "redline": 80,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "FUEL_LEVEL",
                "type": "Bar_Horizontal",
                "title": "油量",
                "unit": "%",
                "x": 5,
                "y": 365,
                "w": 300,
                "h": 30,
                "min": 0,
                "max": 100,
                "redline": 85,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "RELATIVE_ACCEL_POS",
                "type": "Bar_Horizontal",
                "title": "油门",
                "unit": "%",
                "x": 5,
                "y": 400,
                "w": 300,
                "h": 30,
                "min": 0,
                "max": 100,
                "redline": 75,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "FUEL_RATE",
                "type": "Text",
                "title": "供油率",
                "unit": "L/H",
                "x": 5,
                "y": 435,
                "w": 200,
                "h": 40,
                "min": 0,
                "max": 100,
                "redline": 80,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "CONTROL_MODULE_VOLTAGE",
                "type": "Text",
                "title": "电压",
                "unit": "",
                "x": 210,
                "y": 435,
                "w": 160,
                "h": 40,
                "min": 0,
                "max": 100,
                "redline": 80,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "INTAKE_TEMP",
                "type": "Text",
                "title": "进气",
                "unit": "°C",
                "x": 5,
                "y": 480,
                "w": 150,
                "h": 40,
                "min": 0,
                "max": 100,
                "redline": 80,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "COOLANT_TEMP",
                "type": "Text",
                "title": "水温",
                "unit": "°C",
                "x": 160,
                "y": 480,
                "w": 160,
                "h": 40,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "AMBIANT_AIR_TEMP",
                "type": "Text",
                "title": "温度",
                "unit": "°C",
                "x": 325,
                "y": 480,
                "w": 150,
                "h": 40,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "OIL_TEMP",
                "type": "Text",
                "title": "机油",
                "unit": "°C",
                "x": 480,
                "y": 480,
                "w": 160,
                "h": 40,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "RUN_TIME",
                "type": "Text",
                "title": "",
                "unit": "s",
                "x": 665,
                "y": 480,
                "w": 160,
                "h": 40,
                "min": 0,
                "max": 180,
                "redline": 160,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            }
        ]
    ]
}
